<h2>Here is a product</h2>

<p>ID: <%= @product.id %></p>
<p> NAME: <%= @product.name %> </p>
<p> PRICE: <%= @product.price %> </p>
<p> DESCRIPTION: <%= @Poduct.description %> </p>
<p> <img src="https://ss7.vzw.com/is/image/VerizonWireless/samsung-chromebook-plus-silver?$png8alpha256$&hei=410"></p>
